# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
*.log

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Env
.env
.env.local
.env.*.local

# Editors
.vscode/
.idea/
*.swp
.DS_Store
